
html{
    max-width: 1500px;
    margin:auto;
    font-family: 'Work Sans', sans-serif;
}

a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color:black;
    text-decoration: none;
}

h1{
    margin:0;
    font-size:80px;
}

h2{
    font-size: 45px;
    padding: 1vw;
    text-decoration: underline;
    text-decoration-color: #1AB26B;
    text-underline-position: under ;
}

h3{
    font-size:35px;
    font-weight:bolder;
}

p{
    font-size: 28px;
}

body {
    margin: 0;
    padding: 0 0 0;
}

nav{
    max-width: 1500px;
    margin-bottom: 0;
    margin: auto;
    /* position: fixed; */
    top: 0;
    left: 0;
    padding: 0 2vw 0;
    height: 9.5rem;
    /* fexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav div:nth-child(2) {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 38%;
    font-size: 30px;
    
}


nav > img {
    width: 250px;
}


.tile1{
    background-image: url(./images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height:900px;
    color:white;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

.tile1 p{
    width:800px;
    text-align: center;
}


.tile2Boxes{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.tile2Box{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 75px 0;
    width: 500px;
    
}

.tile2 h2{
    display: flex;
    justify-content: center;

}

.tile2 h3{
    color: #1AB26B;
    margin: 25px 0 25px;
}

.tile2 p{
    text-align: center;
    margin: 0;
}

.tile2 img{
    width: 170px;
}

.tile3{
    background-color: #1AB26B;
    margin: 120px 40px 40px 40px ;
    height: 1000px;
    color: white;
}

.tile3Boxes{
    margin: 0 70px 0 70px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.tile3 h2{
    padding-top: 100px;
    padding-left: 70px;
    text-decoration-color: white;
}

.tile3Box1{
    width:1000px;
}
.tile3Box2{
    display: flex;
    justify-content: center;
    width:800px;
}

.tile3whiteicon{
    width:150px
}

.tile3appimage{
    width:400px
}



